<section class="flex flex-row justify-between py-1 sm:">
    <img src="./assets/jpg/seb.jpg" class="rounded-full h-16 w-16 mr-2 mt-1 sm:w-8 sm:h-8 sm:mt-0">
    <hgroup class="flex flex-col sm:flex-row sm:w-full justify-between">
        <a href={{this.url}}>
            <h1 class="font-bold prose-xl">{{this.name}}</h1>
        </a>
        <h2 class="font-bold prose-xl">{{this.label}}</h2>
    </hgroup>
</section>
<hr />