<!DOCTYPE html>
<html lang="en">

{{> header }}

<div id="themer-container" class="hidden">
  <label for="themes">Choose a theme:</label>
  <select name="themes" id="themer" title="Modify the theme of this website">
    <option value="rivet-dark">rivet-dark</option>
    <option value="night-sky-dark">night-sky-dark</option>
    <option value="solarized-light">solarized-light</option>
    <option value="green-as-a-whistle-dark">green-as-a-whistle-dark</option>
  </select>
</div>

<body id="themeable" class="mx-8 md:mx-auto md:w-4/6 lg:w-3/6 xl:w-2/6">
  {{> heading basics }}
  {{> about basics }}
  <section class="flex flex-row space-x-6 py-1">
    <h2 class="font-bold">Work</h2>
    <div class="flex flex-col space-y-2">
      {{#each work}}
      {{> work this}}
      <hr />
      {{/each}}
    </div>
  </section>
  {{!-- <section id="education">
    <h3>Education</h3>
    {{#each education}} {{> education this}} {{/each}}
  </section> --}}
  {{!-- <section id="skills">
    <h3>Skills</h3>
    {{#each skills}} {{> skills this}} {{/each}}
  </section> --}}
  {{!-- <section id="languages">
    <h3>Languages</h3>
    {{#each languages}} {{> languages this}} {{/each}}
  </section> --}}
  {{!-- <section id="interests">
    <h3>Interests</h3>
    {{#each interests}} {{> interests this}} {{/each}}
  </section> --}}
</body>

</html>