<!DOCTYPE html>
<html lang="en">

{{> header }}

<div id="themer-container" class="hidden">
  <label for="themes">Choose a theme:</label>
  <select name="themes" id="themer" title="Modify the theme of this website">
    <option value="rivet-dark">rivet-dark</option>
    <option value="night-sky-dark">night-sky-dark</option>
    <option value="solarized-light">solarized-light</option>
    <option value="green-as-a-whistle-dark">green-as-a-whistle-dark</option>
  </select>
</div>

<body id="themeable" class="mx-8 sm:mx-auto sm:w-5/6 lg:w-3/6 xl:w-2/6">
  {{> heading basics }}
  {{> about basics }}
  {{> jobs work }}
  {{> education education }}
  {{> skills skills }}
  {{> interests interests }}
</body>

</html>
